@using TCAdmin.SDK.Objects
@using TCAdminOAuth.Configurations
@using TCAdminOAuth.Models

@{
    var isOAuthError = Request["OAuthError"] != null;
}

<script>
@if (isOAuthError)
{
    <text>
        $(document).ready(function() {
            TCAdmin.Ajax.ShowBasicDialog('OAuth Login', '@Request["OAuthError"]')
        });
    </text>
} 
    const recoverSection = document.getElementsByClassName("recover")[0].parentNode;
    let socialsDiv = document.createElement("div");
    
    socialsDiv.innerHTML = `
    <hr />
    <h4>Sign in with...</h4>
    @try
    {
        ObjectBase.GlobalSkipSecurityCheck = true;
        foreach (var provider in OAuthProvider.GetAll().Where(provider => provider.Configuration.Parse<OAuthProviderConfiguration>().Enabled))
        {
            <a href="/OAuth/Login/@provider.Id">
                <img src="/Views/Default/TCAdminOAuth.Controllers/Images/@(provider.Name.ToLower())_signin.png" width="190px" alt="Login with @provider">
            </a>
        }
    }
    finally
    {
        ObjectBase.GlobalSkipSecurityCheck = false;
    }

    `
    recoverSection.append(socialsDiv);
</script>